<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
   
    .container{
      background-color: white;
      /* height: 200px;
      width:300px; */
       height: auto;
      width:500px;
      margin: 200px 200px 200px 500px;
      padding: 20px;
      /* box-sizing: border-box; */
    }
    .header{
      padding:30px 20px 30px 175px ;

    }
    .container .value{
      padding:0px 20px 50px 150px;
     
    }
    .container .value label{
      display: block;
     font-size: large;
    }
     
    
    

    .container .value button{
         background-color:#ff9100;
         padding: 5px 30px 5px 30px;
         margin-left: 70px;
    }
   
    .container .value button:hover{
         background-color:green;
         
    }
    
    
  </style>
</head>
<body style="background-color: rgb(120, 120, 120);">
    
  <div class="container">
       <div class="header">
        <h1>LOGIN</h1>
       </div>
       <div class="value">
        <label >Email</label>
        <input type="email" placeholder="Email" size="30"> <br> <br>
         <label for="">Password</label>
        <input type="password" placeholder="password" size="30"> <br> <br>
        <a href="https://www.google.com/" target="_blank"><button type="button">LOGIN</button></a>

        <p>
          Don't have an account? 
            <a href="#">Signup</a>
        </p>
       </div>

       
  </div>
    
</body>
</html>